.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(255, 230, 183);;
    color: rgb(6, 3, 31);
    position: fixed;
    height: 100%;
    overflow: auto;
    opacity: 0.85;
    font-family: 'Montserrat', sans-serif;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: rgb(199, 157, 80);
    color: rgb(6, 3, 31);
  }
  
  .sidebar a:hover {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }}